@import "vars"

.goods__wrap
	width: 100%
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin-bottom: 50px


.goods__item
	width: calc(25% - 15px)
	transition: $trans
	cursor: pointer
.goods__item-picture
	width: 100%
	position: relative
.goods__item-img
	display: block
	width: 90%
	height: 90%
	object-fit: contain
	margin: 0 auto
	z-index: 1
.goods__discount
	position: absolute
	bottom: 10px
	right: 0
	width: 60px
	height: 60px
	background: url(/img/catalog/disc.png) no-repeat center
	background-size: contain
	font-family: 'Roboto Condensed Bold',sans-serif
	color: #fff
	text-align: center
	text-shadow: 0 1px 0 #2e3a40
	font-size: 1.4em
	line-height: 60px


.goods_leibl-hit,
.goods_leibl-offer,
.goods_leibl-new
	display: block
	width: 140px
	height: 28px
	position: absolute
	right: 0
	color: #ffffff
	font-size: .8em
	line-height: 28px
	text-align: center
	text-transform: uppercase
	box-sizing: border-box
	border-radius: 3px
	margin-bottom: 3px
	z-index: 10
.goods_leibl-hit
	background-color: $lider
.goods_leibl-offer
	background-color: $offer
.goods_leibl-new
	background-color: $new



.goods__item-title
	font-family: 'Roboto Condensed',sans-serif
	font-size: 1.1em
	line-height: 1.3em
	font-weight: 400
	text-align: center
	text-transform: uppercase
	letter-spacing: .1em
	margin-bottom: 10px
.goods__item-link
	color: #777
	text-decoration: none
	transition: all .27s cubic-bezier(.3,.1,.58,1)
.goods__item-price-old,
.goods__item-price
	text-align: center
	margin-bottom: 5px
	font-style: italic
.goods__item-price-old
	text-decoration: line-through

.goods__item:hover
	.goods__item-img
		opacity: .9
	.goods__item-link
		color: $accent
		text-decoration: none

@media only screen and (max-width : 992px)
	.goods__item
		width: calc(50% - 15px)
	.goods__item-title
		font-size: 1.2em
@media only screen and (max-width :500px)
	.goods__item
		width: 100%
	.goods__item-title
		max-width: 360px
		margin: 0 auto